<!DOCTYPE html>
<html>
<head>
  <title>Create New User</title>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
 
  <h1 class="mainheading">
    Create New
  </h1>

  <p class="maintext">
    Please fill in the details below to create.
  </p>
  
  <form class="formpart"  id="formpart" action="/users/create" method="post">
    <% if (error && typeof error === 'string') { %>
      <aside class="errormessage"><%= error %></aside>
    <% } %>
    <% if (success) { %>
      <aside class="successmessage"><%= success %></aside>
      <script>
        setTimeout(() => {
          window.location.href = "/users/list?role=<%= data.role %>&page=1&sortBy=createdAt&order=desc";
        }, 2000); 
      </script>
    <% } %>
    <div>
        <label>Fullname:</label>
        <input 
            type="text" 
            name="fullname" 
            value="<%= data.fullname || '' %>"
        />
        <% if (error && error.fullname) { %>
          <span class="error"><%= error.fullname %></span>
        <% } %>
    </div>
    <div>
        <label>Mobile:</label>
        <input 
            type="text" 
            name="mobile" 
            value="<%= data.mobile || '' %>"
            maxlength="10"
        />
        <% if (error && error.mobile) { %>
          <span class="error"><%= error.mobile %></span>
        <% } %>
    </div>
    <div>
        <label>Email:</label>
        <input 
            type="test" 
            name="email" 
            value="<%= data.email || '' %>"
        />
        <% if (error && error.email) { %>
          <span class="error"><%= error.email %></span>
        <% } %>
    </div>
    <div>
        <label>Password:</label>
        <input 
            type="text" 
            name="password" 
            value="<%= data.password || '' %>"
        />
        <% if (error && error.password) { %>
          <span class="error"><%= error.password %></span>
        <% } %>
    </div>
    <div> 
        <label>Role:</label>
        <select name="role">
          <option value="" disabled <%= !data.role ? 'selected' : '' %>>Select</option>

          <% if(user.role === 'admin') { %> 
            <option value="user" <%= data.role === 'user' ? 'selected' : '' %>>User</option> >User</option> 
          <% } %>
          <% if(user.role === 'superadmin') { %> 
             <option value="user" <%= data.role === 'user' ? 'selected' : '' %>>User</option> >User</option> 
            <option value="admin" <%= data.role === 'admin' ? 'selected' : '' %>>Admin</option> >Admin</option> 
          <% } %>
        </select>
        <% if (error && error.role) { %>
          <span class="error"><%= error.role %></span>
        <% } %>
    </div>


    <%- include('../partials/button', { text: 'Submit' }) %>
  </form>
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
