<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
    <h1 class="mainheading">Dashboard</h1>
 
    <% if(error) { %>
        <p><%= error %></p>
    <% }  %>

          <div class="bashboardinfo">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <% if (data.profilepicture && data.profilepicture.url) { %>
                    <img src="<%= data.profilepicture.url %>" alt="Profile Photo" width="100" />
                  <% } %>
                  <p>
                    <a href="/users/update/<%= user.id %>?role=0&page=0&sortBy=0&order=0" class="btn btn-update" >Update Profile</a>  
                  </p>
                </div>
                <p>
                  <strong>Full Name:</strong> 
                  <%= data.fullname %>
                </p>
                <p>
                  <strong>Role:</strong> 
                  <%= data.role %>
                </p>
                <p>
                  <strong>Mobile:</strong> 
                  <%= data.mobile %>
                </p>
                <p>
                  <strong>Email:</strong> 
                  <%= data.email %>
                </p>
                <p>
                  <strong>Created At:</strong> 
                  <%= new Date(data.createdAt).toLocaleString() %>
                </p>
                
                <% 
                const createdDate = new Date(data.createdAt);
                const updatedDate = new Date(data.updatedAt);
                if (createdDate.getTime() < updatedDate.getTime()) { %>
                  <p>
                    <strong>Updated At:</strong> 
                    <%= new Date(data.updatedAt).toLocaleString() %>
                  </p>
                <% } %>
          </div>
    
     <!-- <p>
        User Seesion -
        <%= userSession.id  %><%= userSession.fullname %><%= userSession.email %><%= userSession.role %>
    </p> -->
 
 
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
