<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
    <h1 class="mainheading">
      <span style="text-transform: capitalize;"><%= result.role %></span> Details 
    </h1>
    <p class="backto">
      <a href="/users/list<%= querydata %>" class="btn btn-back">Back</a>
    </p>

    <% if (error) { %>
      <h6 class="mainError"><%= error %></h6>
    <% } else { %>
    
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;width: 100%; display: flex; justify-content: space-between; align-items: center;">
        <p>
            <strong>Full Name:</strong> <%= result.fullname %> <br>
            <strong>Mobile:</strong> <%= result.mobile %><br>
            <strong>Email:</strong> <%= result.email %><br>
            <strong>Created At:</strong> <%= new Date(result.createdAt).toLocaleString() %><br>
            <% 
            const createdDate = new Date(result.createdAt);
            const updatedDate = new Date(result.updatedAt);
            if (createdDate.getTime() < updatedDate.getTime()) { %>
                  <strong>Updated At:</strong> <%= new Date(result.updatedAt).toLocaleString() %><br>
            <% } %>
        </p>
         <% if (result.profilepicture && result.profilepicture.url) { %>
                    <img src="<%= result.profilepicture.url %>" alt="Profile Photo" width="100" />
        <% } %>
    </div>
    <% } %>
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
