<!DOCTYPE html>
<html>
<head>
  <title>Verify OTP</title>
</head>
<body>
<%- include('../partials/header') %>

<section class="sectionmin">
  <h1 class="mainheading">Verify OTP</h1>
  <p class="maintext">
    Please enter the 6 Digit OTP sent to your email: <strong><%= email %></strong>
  </p>
  <form class="formpart"  id="formpart" action="/users/password-otp" method="post">
    <% if (error && typeof error === 'string') { %>
      <aside class="errormessage"><%= error %></aside>
    <% } %>
    <% if (success) { %>
      <aside class="successmessage"><%= success %></aside>
      <script>
          setTimeout(() => {
            window.location.href = '/users/password-reset';
          }, 2000); 
      </script>
    <% } %>
    <% if (info) { %>
      <aside class="infomessage"><%= info %></aside>
      <script>
        setTimeout(() => {
          window.location.href = '/users/password-forget';
        }, 2000); 
      </script>
    <% } %>


    <div>
      <label>Enter OTP</label>
      <input type="text" name="otp" maxlength="6" />
      <% if (error && error.otp) { %>
        <span class="error"><%= error.otp %></span>
      <% } %>
    </div>
    <%- include('../partials/button', { text: 'Verify OTP' }) %>
  </form>
</section>

<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
