<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
<%- include('../partials/header') %>

<section class="sectionmin">
  <h1 class="mainheading">Reset Password</h1>
  <p class="maintext">
    Please set new password for the email: <strong><%=  data.email %></strong>
  </p>
  <form class="formpart"  id="formpart" action="/users/password-reset" method="post">
    <% if (error && typeof error === 'string') { %>
      <aside class="errormessage"><%= error %></aside>
    <% } %>
    <% if (success) { %>
        <aside class="successmessage"><%= success %></aside>
        <script>
            setTimeout(() => {
            window.location.href = '/users/login';
            }, 2000); 
        </script>
    <% } %>
    <% if (info) { %>
      <aside class="infomessage"><%= info %></aside>
      <script>
        setTimeout(() => {
          window.location.href = '/users/password-otp';
        }, 2000); 
      </script>
    <% } %>
 
    <div>
      <label>New Password</label>
      <input type="text" name="password" value="<%= data.password || '' %>" />
      <% if (error && error.password) { %>
        <span class="error"><%= error.password %></span>
      <% } %>
    </div>
    <div>
      <label>Confirm Password</label>
      <input type="text" name="confirmpassword" value="<%=  data.confirmpassword  || '' %>" />
      <% if (error && error.confirmpassword) { %>
        <span class="error"><%= error.confirmpassword %></span>
      <% } %>
    </div>
 

    <%- include('../partials/button', { text: 'Reset Password' }) %>
  </form>
</section>

<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
