<!DOCTYPE html>
<html>
<head>
  <title>Update User Details</title>
</head>
<body>
<%- include('../partials/header') %>
<section class="sectionmin">
  <h1 class="mainheading">
    <% if(querydata.role == '0') { %> 
      Update Profile
    <% } else { %>
    Update  <span style="text-transform: capitalize;"><%= querydata.role %></span> Details
    <% }   %>
  </h1>
  <p class="maintext">
    Please update the details below and submit to save changes.
  </p>
  <h4 class="backto">
     <% if(querydata.role == '0') { %> 
      <a href="/users/dashboard"  class="btn btn-back">Back to Dashboard</a>
    <% } else { %>
      <a href="/users/list?role=<%= querydata.role %>&page=<%= querydata.page %>&sortBy=<%= querydata.sortBy %>&order=<%= querydata.order %>" class="btn btn-back">Back</a>
    <% }   %>
  </h4>
  
  <form class="formpart"  id="formpart" action="/users/update/<%= result.id %>?role=<%= querydata.role %>&page=<%= querydata.page %>&sortBy=<%= querydata.sortBy %>&order=<%= querydata.order %>" method="post" enctype="multipart/form-data">
    <% if (error && typeof error === 'string') { %>
      <aside class="errormessage"><%= error %></aside>
    <% } %>
    <% if (success) { %>
      <aside class="successmessage"><%= success %></aside>
      <script>
        const role = "<%= querydata.role %>";
        const page = "<%= querydata.page %>";
        const sortBy = "<%= querydata.sortBy %>";
        const order = "<%= querydata.order %>";
        if (role === '0') {
          setTimeout(() => {
            window.location.href = "/users/dashboard";
          }, 2000);
        } else {
          setTimeout(() => {
            window.location.href = `/users/list?role=${role}&page=${page}&sortBy=${sortBy}&order=${order}`;
          }, 2000);
        }
      </script>
    <% } %>
    <input type="hidden" name="roletype" value="<%= querydata.role %>">
    <input type="hidden" name="page" value="<%= querydata.page %>">
    <input type="hidden" name="sortBy" value="<%= querydata.sortBy %>">
    <input type="hidden" name="order" value="<%= querydata.order %>">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <label>Profile Photo</label>
          <input type="file" name="profilepicture" accept="image/*" />
        </div>
        <% if (result?.profilepicture?.url) { %>
            <img src="<%= result.profilepicture.url %>" alt="Profile Photo" width="100" />
        <% } %>
    </div>
    <div>
        <label>Fullname:</label>
        <input 
            type="text" 
            name="fullname" 
             value="<%= result.fullname || '' %>"
        />
        <% if (error && error.fullname) { %>
          <span class="error"><%= error.fullname %></span>
        <% } %>
    </div>
    <div>
        <label>Mobile:</label>
        <input 
            type="text" 
            name="mobile" 
            value="<%= result.mobile || '' %>"
            maxlength="10"
        />
        <% if (error && error.mobile) { %>
          <span class="error"><%= error.mobile %></span>
        <% } %>
    </div>

    <% if(user.id !== result.id) { %>
    <div>
        <label>Email:</label>
        <input 
            type="text" 
            name="email" 
            value="<%= result.email || '' %>"
        />
        <% if (error && error.email) { %>
          <span class="error"><%= error.email %></span>
        <% } %>
    </div>
    <% } %>

    <% if(user.id !== result.id) { %>
    <div> 
        <label>Role:</label>
        <select name="role">
          <option value="" disabled <%= !result.role ? 'selected' : '' %>>Select</option>
          <% if(user.role === 'admin') { %> 
            <option value="user" <%= result.role === 'user' ? 'selected' : '' %> >User</option> 
          <% } %>
          <% if(user.role === 'superadmin') { %> 
            <option value="user" <%= result.role === 'user' ? 'selected' : '' %> >User</option> 
            <option value="admin" <%= result.role === 'admin' ? 'selected' : '' %> >Admin</option> 
          <% } %>
        </select>
        <% if (error && error.role) { %>
          <span class="error"><%= error.role %></span>
        <% } %>
    </div>
    <% } %>
 

    <%- include('../partials/button', { text: 'Update' }) %>
  </form>
</section>
<%- include('../partials/footer', { title: 'EMP Management System' }) %>
</body>
</html>
